<div class="custom-hero">
  <div class="page-width">
    <div class="custom-hero__bg"></div>
    <div class="custom-hero__content">

      {% if section.settings.heading != blank %}
        <h1 class="custom-hero__heading">
          {{ section.settings.heading }}
        </h1>
      {% endif %}

      {% if section.settings.description != blank %}
        <p class="custom-hero__description">
          {{ section.settings.description }}
        </p>
      {% endif %}
        <a href="{{ section.settings.button_link }}" class="custom-hero__button">
          <span>{{ section.settings.button_text }}</span>
          <span>&rarr;</span>
        </a>

    </div>

  {% if section.settings.bottom_text != blank %}
    <p class="custom-hero__bottom-text">
      {{ section.settings.bottom_text }}
    </p>
  {% endif %}
  <div class="hero-image"></div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Hero",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default":"Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Text",
      "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
    }
  ],
  "presets": [
    {
      "name": "Custom Hero"
    }
  ]
}
{% endschema %}